/CharacterBuilding/target/
/UserInput/target/
/UserInput_/nbproject/private/
/UserInput_/build/
/JavaMaths/nbproject/private/
/JavaMaths/build/
/Tests/Glasby_Nathan_Term1/nbproject/private/
/Tests/Glasby_Nathan_Term1/build/
/Tests/Glasby_Nathan_Term1_v2/nbproject/private/
/Tests/Glasby_Nathan_Term1_v2/build/
/Tests/Glasby_Nathan_JavaTest1/nbproject/private/
/Tests/Glasby_Nathan_JavaTest1/build/
/ChangeIsGood/nbproject/private/
/ChangeIsGood/build/
