/CharacterBuilding/target/
/UserInput/target/
/UserInput_/nbproject/private/
/UserInput_/build/
/JavaMaths/nbproject/private/
/JavaMaths/build/
/Tests/Glasby_Nathan_Term1/nbproject/private/
/Tests/Glasby_Nathan_Term1/build/
/Tests/Glasby_Nathan_Term1_v2/nbproject/private/
/Tests/Glasby_Nathan_Term1_v2/build/
/Tests/Glasby_Nathan_JavaTest1/nbproject/private/
/Tests/Glasby_Nathan_JavaTest1/build/
/ChangeIsGood/nbproject/private/
/ChangeIsGood/build/
/IveGotThePower/nbproject/private/
/IveGotThePower/build/
/FullCircle/nbproject/private/
/FullCircle/build/
/HighsAndLows/nbproject/private/
/HighsAndLows/build/
/RealAltitude/nbproject/private/
/RealAltitude/build/
/SeeYouRound/nbproject/private/
/SeeYouRound/build/
/RandomGenerator/nbproject/private/
/RandomGenerator/build/
/RandomPractice/nbproject/private/
/RandomPractice/build/
/DiceRoller/nbproject/private/
/DiceRoller/build/
/NobodyPutsPythagorusInACorner/nbproject/private/
/NobodyPutsPythagorusInACorner/build/
/SomethingRandom/nbproject/private/
/SomethingRandom/build/
/Aftermath/nbproject/private/
/Aftermath/build/
/Armathgeddon/nbproject/private/
/Armathgeddon/build/
/LoginCheck/nbproject/private/
/LoginCheck/build/

/.codex_tmp_classes/
/.codex_sync_main/
*.ldb
